/***********************
 Media Query Styles
************************/

@media only screen and (min-width: 481px) {
  .app-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
}




/***********************
 Base Component Styles
************************/

.top-half {
  width: 100%;
  text-align: center;
}