/***********************
 Media Query Styles
************************/

@media only screen and (max-width: 480px) {
  .gifcard-container {  
    @include borderColor(pink, 3px);
  }

  .gifcard-gif-container {
    width: 80%;  
    margin: 0 auto;
  }
}

@media only screen and (min-width: 481px) and (max-width: 1024px) and (orientation: portrait) {

  .app-container-gif-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
    border: 1px solid green;
  }
  
  .gifcard-container {
    width: 65%; // width controls size of gifcard-image
    height: 60%;
    @include borderColor(pink, 3px);
  }
}


@media only screen and (min-width: 481px) and (max-width: 1024px) and (orientation: landscape) {
  .app-container-gif-card {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
    
  }

  
  .gifcard-container { 
    width: 50%; // width controls size of gifcard-image
    @include borderColor(pink, 3px);
  }
}

@media only screen and (min-width: 1025px) {

  .app-container-gif-card {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
    
  }

  .gifcard-container { 
    width: 35%; // width controls size of gifcard-image
    @include borderColor(pink, 3px);
  }
}

/***********************
 Base Component Styles
************************/


.gifstagram-icon-container {
  display: flex;
  flex-direction: flex-start;
  align-items: center;
  margin-left: 1em;
  
  img {
    display: block;
  }
}



.gifcard-gif-container {
  img {
    width: 100%;
    height: 100%;  
    display: block;
    
  }
}

.gifcard-text-container {
  margin-left: 1em;
}