/***********************
 Media Query Styles
************************/

@media only screen and (max-width: 480px) {

  .gifview-container {
    width: 80%;
    //height: 90vh;
    margin: 0 auto;
    border: 5px solid salmon;
  }

  .mobile-layout{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 1em;
  }
}


@media only screen and (min-width: 481px) and (max-width: 1024px) {
  .gifview-container {
    border: 5px solid goldenrod;
    width: 70%;
    margin: 0 auto;
  }

  .tablet-layout {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 1em;
  }
  
}

@media only screen and (min-width: 1025px) {
  .gifview-container {
    width: 80%;
    border: 1px solid aquamarine;
  }

  .desktop-layout {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}