/***********************
 Media Query Styles
************************/

@media only screen and (max-width: 480px) {
  
  .gifplaceholder-container {
    width: 30%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;   

    img.fetched-gif {
      width: 100%;
      height: 100%;
      display: block;  // Prevents display of inline image
    }

    img.gif-placeholder {
      width: 50px;
      height: 50px;  
    }
  }
}

@media only screen and (min-width: 481px) and (max-width: 1024px) {
  .gifplaceholder-container {
    width: 30%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  img.fetched-gif {
    width: 100%;
    height: 100%;
    display: block;  // Prevents display of inline image
  }

  img.gif-placeholder {
    width: 50px;
    height: 50px;  
  }

}


@media only screen and (min-width: 1025px) {
  .gifplaceholder-container {
    width: 25%;
    margin-right: 1em;
    margin-bottom: 1em;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  img.fetched-gif {
    width: 100%;
    height: 100%;
    display: block;  // Prevents display of inline image
  }

  img.gif-placeholder {
    width: 50px;
    height: 50px;  
  }


}


/***********************
 Base Component Styles
************************/




