.sorter-container {
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 1.5em;

  button {
    height: 50px;
    border: 1px solid $button-color;
    margin-right: .5em;
    color: $button-color;
    background-color: white;
    border-radius: 5px;
    font-size: 1em;
  }
}